##### SERVER SETUP #####
# To set up your device through the web interface, configure these three variables:
# For information on how to obtain these variables, consult the README.md.
# Requires LNbits server and invoice api key. Websockets must be enabled on the server.

BITCOIN_SWITCH_WS="wss://your.lnbits.server/api/v1/ws/SWITCHIDGOESHERE"
LNBITS_LNURL="lightning:LNURLGOESHERE" # LNURLs of all formats and all prefixes are supported
LNBITS_INVOICE_KEY="f1fyourinvoicekeyheref1f"

##### MERCHANT SETUP #####

SUGGESTED_WALLETS='["Cash App", "Shakepay", "Wallet of Satoshi"]' # Names of suggested wallets. For each wallet, there must be a corresponding icon in the /pic folder of the same name. Be careful of spelling, spaces and capitalization.

##### SYSTEM CONFIGURATION ##### (optional)

# DEBUG, INFO, WARNING, ERROR, CRITICAL
#DEBUG_LEVEL=INFO # Default: INFO

##### DISPLAY #####
# Pins used by display (BCM): 3.3V, 10, 11, 8, 25, 17, 24

#SHOWDISPLAY=TRUE # When set to False, the display is deactivated. Useful for debugging. Default: True

#DISPLAY_DELAY=1 # Time in seconds that the display needs to refresh. Default: 1

#FONTA=Font.ttc # The file name of the font to be used. Must be placed in the /pic directory
#FONTSIZEA=24 # The size of the font to be used

#FONTB=Rushfordclean.otf
#FONTSIZEB=32 # The size of the alternative font to be used
